.nav-bar {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  gap: 20px;
  padding: 28px 16px;
  background-color: var(--color-grey-5);
}

.nav-bar__title {
  font-size: 20px;
  font-style: normal;
  font-weight: var(--font-weight-1);
}

.nav-bar__title span {
  color: var(--color-brand-1)
}

.nav-bar__insert-value {
  display: flex;
  height: 32px;
  padding: 0px 14px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  
  border-radius: var(--radius-1);
  border: 1.5px solid var(--color-brand-1);
  background: var(--color-brand-1);
  color: var(--color-mode);

  font-family: Inter;
  font-size: 14px;
  font-weight: var(--font-weight-1);
}

.nav-bar__insert-value:hover {
  background-color: var(--color-brand-2);
}