.nav-bar {
  width: 100%;
  background-color: var(--color-grey-5);
}

.nav-bar__container {
  max-width: 45rem;
  margin: 0 auto;
  display: flex;
  padding: 28px 16px;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}

.nav-bar__title {
  font-size: var(--font-size-1);
  font-weight: var(--font-weight-1);
}

.nav-bar__title span {
  color: var(--color-brand-1)
}

.nav-bar__insert-value {
  display: flex;
  height: 32px;
  padding: 0px 14px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  border-radius: var(--radius-1);
  border: 1.5px solid var(--color-brand-1);
  background: var(--color-brand-1);
  color: var(--color-mode);
  font-size: var(--font-size-3);
  font-weight: var(--font-weight-1);
}

.nav-bar__insert-value:hover {
  background-color: var(--color-brand-2);
}